@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Colors */ 
    --primary-color: #1471B0;
    --secondary-color: #3694d7;
    --hover-color : #135480;
    --purple--tertiary-color : #9672FF;
    --red--secondary-color: #FF2C2C;
    --green--secondary-color: #3AC2BA;
    --yellow--secondary-color: #FABE1C;
    --blue--secondary-color: #055DFA;
    --black-color: black;
    --white-color: white;
    --secondary-grey-color : #CBCBCB;
    --primary-grey-color : #A1A1A1;

    /* Font size */
    --xxl-font-size: 48px;
    --xl-font-size: 32px;
    --l-font-size: 24px;
    --m-font-size: 20px;
    --s-font-size: 16px;
    --xs-font-size: 14px;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

.MainContainer{
    width: 100%;
    min-height: 100vh;
    margin-bottom: 25px;
}

/* Header */
header {
    top: 0;
    width: 100%;
    padding: 24px 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: fixed;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--xl-font-size);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
}

.menu-item{
    list-style: none;
}

.menu-item a{
    color: black;
    font-size: var(--s-font-size);
    font-weight: var(--font-semibold);
}

.menu-item .highlight {
    color: var(--primary-color);
}

.nav-icon {
    display: flex;
    gap: 3rem;
    color: var(--primary-color);
    font-size: var(--l-font-size);
    font-weight: 500;
}

/* Banner */
.BannerContainer {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.BannerSection {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    height: 560px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
}

@media (max-width: 991px) {
    .BannerSection {
        max-width: 100%;
        padding: 0 20px;
    }
}

.BannerImg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.BannerContent {
    position: relative;
    display: flex;
    width: 952px;
    max-width: 100%;
    flex-direction: column;
    margin: 89px 0 69px;
}

@media (max-width: 991px) {
    .BannerContent {
        margin: 40px 0;
    }
}

.BannerTitle {
    font: 700 40px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .BannerTitle {
        max-width: 100%;
    }
}

.BannerButton {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    align-self: center;
    display: flex;
    margin-top: 12px;
    width: 173px;
    height: 53px;
    max-width: 100%;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
}

.ButtonContent {
    font-family: Poppins, sans-serif;
    border-radius: 5px;
    background-color: #1471b0;
    justify-content: center;
    padding: 12px 10px;
    color: white;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.ButtonContent:hover {
    background-color: var(--hover-color);
}

@media (max-width: 991px) {
    .ButtonContent {
        padding: 0 20px;
    }
}

.MainTitle {
    margin-top: 35px;
    text-align: center;
}

/* Button Contents */
.MainButtons {
    display: flex;
    justify-content: center;
    margin-top: 49px;
    gap: 50px;
    margin-bottom: 82px;
}

.ButtonMarketplace {
    display: flex;
    max-width: 310px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
}

.Button1 {
    border-style: none;
    background-color: white;
    cursor: pointer;
}

.MarketImg {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 127px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    max-width: 100%;
}

.ButtonTitle1 {
    color: #1471b0;
    margin-top: 23px;
    font: 20px Poppins, sans-serif;
  }

.ButtonDesc1 {
    color: #656565;
    margin-top: 9px;
    width: 100%;
    font: 16px Poppins, sans-serif;
}

/* Bottom Contents */
.BottomContents {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}

.BottomTexts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.SeeMore {
    color: #656565;
}

/* Product List 1 */
.ListIkan1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.ListIkan2 {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.product-card {
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: auto;
    background-color: white;
    position: relative;
    pointer-events: auto; 
}

.product-card:hover {
    transform: translateY(-5px);
}

.card-header {
    width: 270px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card-header img {
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s;
}

.product-card:hover .card-header img {
    transform: scale(1.1);
}

.card-content {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.cc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card-content h3 {
    display: flex;
    gap: 5px;
}

.card-content h3 span {
    display: flex;
    color: var(--primary-color);
}

.card-content h3 span i {
    font-size: 12px;
}

/* Loved button */
.loved-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: auto; 
}

.loved-btn i {
    font-size: 16px;
    transition: color 0.3s, transform 0.3s;
    padding: 10px 10px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    color: var(--secondary-grey-color);
    transition: transform 0.3;
}

.loved-btn i.loved {
    color: var(--primary-color);
    transform: scale(1.2);
}

.card-content p {
    color: var(--primary-grey-color);
    font-size: 14px;
    font-weight: 500;
}

.card-price span {
    color: var(--primary-color);
}

/* Ensure the entire card is clickable except the loved button */
.product-list a {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    pointer-events: auto; /* Enable pointer events for the anchor */
}

/* Footer */
.footer-container{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem 1rem 3rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.footer-desc{
    color: black;
    font-size: var(--s-font-size);
    font-weight: var(--font-semibold);
}

.social-icon{
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 1rem 0 0.5rem 0;
}

.social-icon a{
    margin: 0 10px;
}

.copyright{
    color: black;
    font-size: 0.7rem;
}