@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* Colors */ 
    --primary-color: #1471B0;
    --secondary-color: #3694d7;
    --hover-color : #135480;
    --purple--tertiary-color : #9672FF;
    --red--secondary-color: #FF2C2C;
    --green--secondary-color: #3AC2BA;
    --yellow--secondary-color: #FABE1C;
    --blue--secondary-color: #055DFA;
    --black-color: black;
    --white-color: white;
    --secondary-grey-color : #CBCBCB;
    --primary-grey-color : #A1A1A1;

    /* Font size */
    --xxl-font-size: 48px;
    --xl-font-size: 32px;
    --l-font-size: 24px;
    --m-font-size: 20px;
    --s-font-size: 16px;
    --xs-font-size: 14px;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

a {
    text-decoration: none;
}

a:visited{
    color: black;
}

/* header & navbar */
header {
    top: 0;
    width: 100%;
    padding: 24px 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: fixed;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--xl-font-size);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
}

.menu-item{
    list-style: none;
}

.menu-item a{
    color: black;
    font-size: var(--s-font-size);
    font-weight: var(--font-semibold);
}

.menu-item .highlight {
    color: var(--primary-color);
}

.nav-icon {
    display: flex;
    gap: 3rem;
    color: var(--primary-color);
    font-size: var(--l-font-size);
    font-weight: 500;
}

/* header end */


body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 100px auto 0 auto;
    padding: 20px;
}

.page-title {
    font-weight: 850;
}

.product-detail{
    display: flex;
    gap: 4rem;
}

.product-info, .purchase-info{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
    display: flex;
    flex-direction: column;

}

.product-info img {
    max-width: 244px;
    max-height: 116px;
    border-radius: 10px;
    margin-right: 20px;
}

.detail-top{
    line-height: 1;
}

.product-desc {
    display: flex;
    margin-top: 10px;
}

.product-desc h2 {
    margin-top: 0;
}

.product-desc .sold {
    color: #6A6A6A;
}

.product-desc .price {
    font-weight: bold;
    font-size: 24px;
    margin: 1px 0;
}

.description{
    text-align: left;
    align-items: left;
}

.purchase-info {
    text-align: left;
    font-size: 20px;
    max-width: fit-content;
}

.purchase-info h3 {
    margin-top: 0;
}

.purchase-desc-top{
    display: flex;
    margin-bottom: 20px;
    text-align: left;
}

.purchase-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.purchase-desc-details{
    line-height: 1;
    font-size: 16px;
}

.purchase-desc img {
    max-width: 150px;
    max-height: 60px;
    margin-top: 25px;
}

.quantity-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    background-color: #fff;
    max-width: 112px;
    max-height: 44px;
}

.quantity-btn {
    background-color: #f0f0f0;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
}

.quantity-display {
    font-size: 16px;
    width: 40px;
    text-align: center;
}

.quantity-product{
    font-size: 14px;
    display: flex;
    align-items: left;
    gap: 110px;
}

.price-sub{
    display: flex;
    gap: 130px;
    font-size: 18px;
}

.buy-now {
    width: 320px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #1471B0;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

.add-to-cart{
    width: 320px;
    padding: 10px 20px;
    border: 1px solid #1471B0;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

.additional-info{
    display: flex;   
    gap: 25px; 
}

.additional-info img{
    object-fit: auto;
    object-position: center;
    width: 70px;
    height: 70px;
    margin-top: 25px;
}

.store-details, .shipping-details {
    border-radius: 6px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: flex;
    gap: 10px;
    font-size: 10px;
    font-weight: 400;
    padding: 10px;
    width: 400px;
    height: 120px;
    line-height: 1;
}

.store-info h3, .shipping-info h3 {
    margin-top: 0;
}

.reviews{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.product-reviews {
    text-align: left;
    width: 266px;
}

.product-reviews h3 {
    margin-top: 0;
}

.ratings p {
    margin: 5px 0;
}

.review1, .review2{
    width: 774px;
    height: 164px;
    background-color: #f0f0f0;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.rates-desc{
    text-align: center;
}

.store-text-1 {
    color: #1471b0;
    font: 500 14px Poppins, sans-serif;
}

.store-text-2 {
    color: #000;
    font-family: Poppins, sans-serif;
    margin-top: 5px;
}

.store-text-3 {
    color: #a1a1a1;
    font-family: Poppins, sans-serif;
    margin-top: 5px;
}

/* footer */

.footer-container{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem 1rem 3rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.footer-logo img{
    width: 130px;
}


.footer-desc{
    color: black;
    font-size: var(--s-font-size);
    font-weight: var(--font-semibold);
}

.social-icon{
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 1rem 0 0.5rem 0;
}

.social-icon a{
    margin: 0 10px;
}

.copyright{
    color: black;
    font-size: 0.7rem;
}